body {
    margin: 20px auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

p {
    text-align: justify;
}

h2 {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: normal;
    color: #111;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    margin-top: 40px;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.papertitle {
    font-weight: bold;
    color: #555;
    font-size: 18px;
}

.name {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: bold;
}

.highlight-row {
    background-color: #ffffd0;
}

/* --- 自定义光标样式 --- */

/* 隐藏页面和链接的默认光标 */
a,
body {
    cursor: none;
}

/* 我们新光标的样式 */
.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 15px;
    /* 圆环的内部直径 */
    height: 15px;
    /* 圆环的内部直径 */

    /* 添加5px厚度的天蓝色边框来创建圆环 */
    border: 5px solid #5abce2;

    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);

    /* 为了让尺寸变化也更平滑，可以把 transition 应用于 all */
    transition: all 0.1s ease-out;

    z-index: 9999;
}